/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments";
import { QueryApi } from "@fern-api/query";
import urlJoin from "url-join";
import * as serializers from "../../../../serialization";
import * as core from "../../../../core";
import * as errors from "../../../../errors";

export declare namespace Client {
    interface Options {
        environment: environments.QueryApiEnvironment | string;
    }
}

export class Client {
    constructor(private readonly options: Client.Options) {}

    /**
     * @throws {QueryApi.UnauthorizedError}
     * @throws {QueryApi.BadRequestError}
     */
    public async create(request: QueryApi.CreateDatabaseRequest): Promise<QueryApi.Database> {
        const _response = await core.fetcher({
            url: urlJoin(this.options.environment, "/v1/databases"),
            method: "POST",
            body: await serializers.CreateDatabaseRequest.json(request),
        });
        if (_response.ok) {
            return await serializers.Database.parse(_response.body as serializers.Database.Raw);
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new QueryApi.UnauthorizedError();
                case 400:
                    throw new QueryApi.BadRequestError();
                default:
                    throw new errors.QueryApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.QueryApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.QueryApiTimeoutError();
            case "unknown":
                throw new errors.QueryApiError({
                    message: _response.error.errorMessage,
                });
        }
    }

    /**
     * @throws {QueryApi.UnauthorizedError}
     * @throws {QueryApi.NotFoundError}
     */
    public async get(databaseId: string): Promise<QueryApi.Database> {
        const _response = await core.fetcher({
            url: urlJoin(this.options.environment, `/v1/databases/${databaseId}`),
            method: "GET",
        });
        if (_response.ok) {
            return await serializers.Database.parse(_response.body as serializers.Database.Raw);
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new QueryApi.UnauthorizedError();
                case 404:
                    throw new QueryApi.NotFoundError();
                default:
                    throw new errors.QueryApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.QueryApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.QueryApiTimeoutError();
            case "unknown":
                throw new errors.QueryApiError({
                    message: _response.error.errorMessage,
                });
        }
    }

    /**
     * @throws {QueryApi.UnauthorizedError}
     * @throws {QueryApi.BadRequestError}
     */
    public async list(request: QueryApi.ListDatabasesRequest = {}): Promise<QueryApi.DatabasesPage> {
        const { limit, page, sort, expand } = request;
        const _queryParams = new URLSearchParams();
        if (limit != null) {
            _queryParams.append("limit", limit.toString());
        }

        if (page != null) {
            _queryParams.append("page", page.toString());
        }

        if (sort != null) {
            _queryParams.append("sort", sort.toString());
        }

        if (expand != null) {
            _queryParams.append("expand", expand);
        }

        const _response = await core.fetcher({
            url: urlJoin(this.options.environment, "/v1/databases"),
            method: "GET",
            queryParameters: _queryParams,
        });
        if (_response.ok) {
            return await serializers.DatabasesPage.parse(_response.body as serializers.DatabasesPage.Raw);
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new QueryApi.UnauthorizedError();
                case 400:
                    throw new QueryApi.BadRequestError();
                default:
                    throw new errors.QueryApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.QueryApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.QueryApiTimeoutError();
            case "unknown":
                throw new errors.QueryApiError({
                    message: _response.error.errorMessage,
                });
        }
    }

    /**
     * @throws {QueryApi.UnauthorizedError}
     * @throws {QueryApi.BadRequestError}
     */
    public async listPublic(request: QueryApi.ListPublicDatabasesRequest = {}): Promise<QueryApi.DatabasesPage> {
        const { limit, page, sort, expand } = request;
        const _queryParams = new URLSearchParams();
        if (limit != null) {
            _queryParams.append("limit", limit.toString());
        }

        if (page != null) {
            _queryParams.append("page", page.toString());
        }

        if (sort != null) {
            _queryParams.append("sort", sort.toString());
        }

        if (expand != null) {
            _queryParams.append("expand", expand);
        }

        const _response = await core.fetcher({
            url: urlJoin(this.options.environment, "/v1/databases/public"),
            method: "GET",
            queryParameters: _queryParams,
        });
        if (_response.ok) {
            return await serializers.DatabasesPage.parse(_response.body as serializers.DatabasesPage.Raw);
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new QueryApi.UnauthorizedError();
                case 400:
                    throw new QueryApi.BadRequestError();
                default:
                    throw new errors.QueryApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.QueryApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.QueryApiTimeoutError();
            case "unknown":
                throw new errors.QueryApiError({
                    message: _response.error.errorMessage,
                });
        }
    }

    /**
     * @throws {QueryApi.UnauthorizedError}
     * @throws {QueryApi.BadRequestError}
     * @throws {QueryApi.NotFoundError}
     */
    public async update(databaseId: string, request: QueryApi.UpdateDatabaseRequest): Promise<QueryApi.Database> {
        const _response = await core.fetcher({
            url: urlJoin(this.options.environment, `/v1/databases/${databaseId}`),
            method: "PATCH",
            body: await serializers.UpdateDatabaseRequest.json(request),
        });
        if (_response.ok) {
            return await serializers.Database.parse(_response.body as serializers.Database.Raw);
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new QueryApi.UnauthorizedError();
                case 400:
                    throw new QueryApi.BadRequestError();
                case 404:
                    throw new QueryApi.NotFoundError();
                default:
                    throw new errors.QueryApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.QueryApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.QueryApiTimeoutError();
            case "unknown":
                throw new errors.QueryApiError({
                    message: _response.error.errorMessage,
                });
        }
    }
}
